@charset "UTF-8";
*{
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%; */
}


body{
    background-image: linear-gradient(to right, #1E1CAD,#4341FA );
    

}

main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #14135dc7;
    width: 600px;
    padding: 10px;
    margin: auto;

}

p{
    text-align: justify;
}


h1 {
   color: #5F5CFF; 
    text-align: center;
    text-shadow: 1px 1px 2px #302f7f87;
    
   
}

h2
{
    color: #AD910A;
}