@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@100;400;500;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@400;700&display=swap');

*{
    margin:0;
    padding:0;
    
}

body {
    min-height: 100vh;
    background-color: darkgray;

}

a {
    text-decoration: none;
    color: currentColor;
}

a:hover {
    text-decoration: underline;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: black;
    height: 200px;

}

.texto-header {
    text-align: center;
    padding: 20px;
    
}

.texto-header h1 {
    font-size: 4em;
    font-family: 'Special Elite';
    
}


article {
    font-family: 'Kalam'; 
    background-color: white;
    font-weight: bold;
    text-align: left;
    line-height: 2.5em;
    font-size: clamp(1em, 3vw, 2.5em);
    
}

article > p {
    padding: 30px;
    
}

div.bk1 {
    width: 100%;
    background-image: url(imagens/ch.jpg);
    background-position: center center;
    background-repeat: repeat-y;
    background-size: cover;
    background-attachment: fixed; 

}



p.bk{
    
    color: white;
    position: relative;
    font-family: 'Kalam'; 
    font-weight: bold;
    text-align: left;
    padding: 30px;
    line-height: 2.5em;
    font-size: clamp(1em, 3vw, 2.5em);

}

div.a2 {
    padding: 30px;
}

div.bk2 {
    width: 100%;
    background-image: url(imagens/ch2.jpg);
    background-position: center center;
    background-repeat: repeat-y;
    background-size: cover;
    background-attachment: fixed; 

}

footer {
    padding: 10px;
    background-color: black;
    text-align: center;
    color: white;
    font-size: 1.2em;
}